body {
    font-family: Arial, sans-serif;
    background-color: #4B0082;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}
.contenedor_hd{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: #1b0e22;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navegacion{
    display: flex;
    justify-content: space-around;
}

.btn-ingreso {
    border: 5px;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.btn-ingreso:hover {
    background-color: #dcdcdc;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 60px;
    margin: 40px;

}

.filter {
    padding: 20px;
}

.a{
    background-color: #8A2BE2;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 20px;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, sans-serif;
    width: 250px;
    max-width: 250px;
    margin: 0 auto;


}

.boton{
    margin-top: 150px;
    text-align: left;
}

.catalog {
    flex-grow: 1;
    /* padding: 20px; */
    gap: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
    margin: 40px;

}

.card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    text-align: center;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.card img {
    width: 150px;
    height: 150px;
    height: auto;
}

.card button {
    background-color: #4B0082;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}