*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio-sesion {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.inicio-sesion h2 {
    color: #4B0082;
    font-size: 3rem;
    
    margin-bottom: 20px;
}

.inicio-sesion-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 80px;


}

.inicio-sesion .form-group {
    margin-bottom: 30px;
    text-align: left;
}

.inicio-sesion .form-group label {
    display: block; /*este elemento debe comportarse como un bloque en el flujo normal del documento.*/
    margin-bottom: 5px;
    border: none;
    font-weight: bold;
}

.inicio-sesion .form-group input {
    width: calc(100% - 12px);
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
}

.inicio-sesion .btn-submit {
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    
    
}


.a{
    background-color: #8A2BE2;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, sans-serif;
    width: 250px;
    max-width: 250px;
    margin: 0 auto;
}



.botones{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
